<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_quotedbl</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-36</integer>
		<key>@MMK_R_J</key>
		<real>-27.360000610351562</real>
		<key>@MMK_R_a</key>
		<real>-72.360000610351562</real>
		<key>@MMK_R_c</key>
		<real>-70.919998168945312</real>
		<key>@MMK_R_comma</key>
		<real>-49.319999694824219</real>
		<key>@MMK_R_parenright</key>
		<real>44.279998779296875</real>
		<key>@MMK_R_s</key>
		<real>-75.239997863769531</real>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<real>-18.360000610351562</real>
		<key>@MMK_R_J</key>
		<real>-12.600000381469727</real>
		<key>@MMK_R_a</key>
		<real>-50.759998321533203</real>
		<key>@MMK_R_c</key>
		<real>-50.040000915527344</real>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<real>-56.880001068115234</real>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<real>-3.5999999046325684</real>
		<key>@MMK_R_a</key>
		<real>-12.600000381469727</real>
		<key>@MMK_R_c</key>
		<real>-13.319999694824219</real>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<real>-16.920000076293945</real>
	</dict>
	<key>@MMK_L_quotedbl</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_a</key>
		<real>-25.200000762939453</real>
		<key>@MMK_R_c</key>
		<real>-23.760000228881836</real>
		<key>@MMK_R_comma</key>
		<real>-78.839996337890625</real>
		<key>@MMK_R_s</key>
		<real>-12.600000381469727</real>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_parenright</key>
		<integer>90</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>90</integer>
		<key>asterisk</key>
		<integer>50</integer>
	</dict>
</dict>
</plist>
